nodered-flow/recamera-work-flow.json
[
    {
        "id": "5924433263ceb70d",
        "type": "tab",
        "label": "Gimbal Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a07377ba64707d4",
        "type": "camera",
        "z": "5924433263ceb70d",
        "option": 0,
        "client": "b97fc673d9180980",
        "audio": true,
        "volume": 80,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "72eb36d94bce1f88"
            ]
        ]
    },
    {
        "id": "72eb36d94bce1f88",
        "type": "model",
        "z": "5924433263ceb70d",
        "name": "",
        "uri": "/usr/share/supervisor/models/yolo11n_detection_cv181x_int8.cvimodel",
        "model": "YOLO11n Detection",
        "tscore": 0.45,
        "tiou": 0.25,
        "debug": false,
        "trace": false,
        "counting": false,
        "classes": "person,bicycle,car,motorcycle,airplane,bus,train,truck,boat,traffic light,fire hydrant,stop sign,parking meter,bench,bird,cat,dog,horse,sheep,cow,elephant,bear,zebra,giraffe,backpack,umbrella,handbag,tie,suitcase,frisbee,skis,snowboard,sports ball,kite,baseball bat,baseball glove,skateboard,surfboard,tennis racket,bottle,wine glass,cup,fork,knife,spoon,bowl,banana,apple,sandwich,orange,broccoli,carrot,hot dog,pizza,donut,cake,chair,couch,potted plant,bed,dining table,toilet,tv,laptop,mouse,remote,keyboard,cell phone,microwave,oven,toaster,sink,refrigerator,book,clock,vase,scissors,teddy bear,hair drier,toothbrush",
        "splitter": "0,0,0,0",
        "client": "b97fc673d9180980",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "a739bc8674762600"
            ]
        ]
    },
    {
        "id": "a739bc8674762600",
        "type": "delay",
        "z": "5924433263ceb70d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "b52dac09891a4349"
            ]
        ]
    },
    {
        "id": "b52dac09891a4349",
        "type": "function",
        "z": "5924433263ceb70d",
        "name": "function 4",
        "func": "if (!msg.payload.data.labels) {\n    return;\n}\n\nmsg.payload = {\n    number: msg.payload.data.labels.filter((item) => item === \"person\").length\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 360,
        "wires": [
            [
                "3e3e919cc674f078",
                "1cd8e4f1f4c884f9"
            ]
        ]
    },
    {
        "id": "3e3e919cc674f078",
        "type": "debug",
        "z": "5924433263ceb70d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "1cd8e4f1f4c884f9",
        "type": "http request",
        "z": "5924433263ceb70d",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.42.2:1880/visitor",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b97fc673d9180980",
        "type": "sscma",
        "host": "localhost",
        "mqttport": "1883",
        "apiport": "80",
        "clientid": "recamera",
        "username": "",
        "password": ""
    }
]